.app {
  font-family: Arial, sans-serif;
  width: 100%;
  height: 100vh;
  background-image: url(../Assets/introbg.jpeg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.header {
  color: #fff;
  padding: 15px;
}

.nav-toggle {
  display: none;
  cursor: pointer;
  font-size: 24px;
  img {
    height: 25px;
  }
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.horizontal {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-item {
  margin: 0 15px;
  cursor: pointer;
  text-align: center;
  border-radius: 10px;

  transition: background-color 0.3s ease;
  a {
    text-decoration: none;
    color: black;
    padding: 10px;

    &:hover {
      background-color: #aa4190;
      color: #fff;
      border-radius: 10px;
    }
  }

  .active {
    color: #fff;
    border-bottom: 1px solid #aa4190;
  }
}

.dropdown {
  display: none;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

.dropdown.open {
  max-height: 200px;
  padding-top: 10px;
}

.veritical {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.logo {
  margin-left: 0;
}
@media (max-width: 500px) {
  .app {
    display: table;
  }
  .horizontal {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .nav.open .horizontal {
    display: flex;
  }

  .nav-toggle {
    display: block;
  }
  .nav {
    justify-content: start;
  }

  .logo {
    margin-left: 40%;
  }

  .dropdown {
    display: block;
  }

  .nav-item {
    margin: 0;
    text-align: left;
    padding: 10px 0;
  }
}

.footer {
  background-color: #fff;
  color: #aa4190;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.main-content {
  height: calc(100% - 102px);
  padding: 20px;
}

.constianer {
  height: inherit;
}

.d-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
